.galleries {
	background-image: url(/public/images/elements/background_light.jpg);
	background-repeat: repeat;
	min-height: 87vh;
	align-content: space-around;
}

.info-editor{
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: var(--thirdColor);
}

.info-editor img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	margin: auto;
}

.gallery-group {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 15px;
}

.gallery-item {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	margin : 10px;
	text-decoration: none;
	text-align: center;
	background-color: var(--primaryColor);
	font-family:"Sigmar One";
	-webkit-text-stroke: 1px white;
    -webkit-text-fill-color: var(--secondaryColor);;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	transition: all .2s ease-out;
	align-items: cover;
	border: solid 1px var(--thirdDarkColor);;
	width: 220px;
	height: 100px;
	font-size: 1.8em;
	font-weight: bold;
	color: var(--primaryTextColor);
	transform: scale(1);
	vertical-align: middle;
}

.gallery-item:hover {
	transform: scale(1.005);
}

.gallery-item-image {
	position: absolute;
	top: 5px;
	left: 5px;
	max-width:90px;
	max-height: 50px;
}

.gallery-item-editeur {
	max-width:300px;
	max-height: 180px;
}

.gallery-item-personnage{
	position: absolute;
	top: 10px;
	max-height: 140px;
}

.smallsize{
	font-size: 1.2em;
}
