.obj-item {
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin : 3px;
	text-decoration: none;
	background-color: var(--primaryTextColor);
	font-family:"Roboto";
	transition: all .1s ease-in-out;
	border: solid 1px var(--thirdDarkColor);;
	/* box-shadow: 1px 1px 2px 0px var(--thirdDarkColor); */
	width: 270px;
	height: 437px;
	font-size: 1.3em;
	font-weight: bold;
	color: var(--secondaryTextColor);
}

.obj-item:hover {
	/* transform: scale(1.005); */
}

.topcard {
	display: flex;
	height: 290px;
	/* text-align: center; */
	/* line-height: 290px; */
	justify-content: center;
	align-items: center;
}

.bodycard > hr {
	margin: 5px;
}

.bodycard > h2 {
	font-family: "Raleway";
	font-size: 0.7em;
	margin: 2px 0px 2px 0px;
	text-align: center;
}

.bodycard > p{
	display: block;
	font-family: "Roboto";
	font-size: 0.7em;
	font-weight: normal;
	margin: 5px;
}

.info-obj span {
	display: block;
}
.info-obj i{
	float: right;
	color: var(--fourthColor);
}
.info-obj>span>i {
	transform: scale(1);
	transition : .3s;
}

.info-obj>span>i:hover {
	transform:scale(1.3);
}

.myImg {
	width: auto;
	max-width: 260px;
	height: auto;
	max-height: 270px;
	vertical-align: middle;
	border-radius: 4px;
	/* box-shadow: 1px 1px 1px 0px var(--thirdColor); */
}

.badge {
   position:relative;
}

.no-badge {
   position:relative;
}

.badge[data-badge]:after {
	/* positionnement du badge */
	position:absolute;
	right :5px;
	bottom:5px;
	/* données du badge */
	content:attr(data-badge);
	/* mise en forme badge */
	font-size:.7em;
	background:var(--secondaryLightColor);
	color:var(--primaryTextColor);
	width:20px;height:20px;
	line-height:20px;
	text-align:center;
	border-radius:50%;
	box-shadow:0 0 1px #333;
}

.ban_nouveau{
	position: absolute;
	left:0px;
	top:10px;
	z-index: 8;
}
.ban_star{
	position: absolute;
	right:-10px;
	top:-5px;
	z-index: 8;
	height: 54px;
}
.ban_star_nb{
	position: absolute;
	display: block;
	right:5px;
	top:2px;
	z-index: 8;
	text-decoration: none;
	color: var(--primaryDarkColor);
	font-size :0.65em;
	text-align: center;
	width:23px;
}


.stars {
	display: block;
	width:20px;
	height: 20px;
	float: left;
	margin: 1px;
	background-size:contain;
	background-repeat: no-repeat;
	background-image: url(../images/elements/STAR.PNG);
}

.checked {
	background-image: url(../images/elements/STAR-CHECKED.PNG);
}

.rated {
	background-image: url(../images/elements/STAR-CHECKED.PNG);
}

button.info-obj {
	float: right;
	border: none;
	background: none;
	padding: 0;
 }

span.span-right {
	float: right;
}
